<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appenders -->
    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/infectd.log</file>
        <!-- https://github.com/logstash/logstash-logback-encoder -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>infectd.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    

  <!-- Loggers -->
    <if condition='property("debug").equalsIgnoreCase("true")'>
        <!-- DEBUG MODE -->
        <then>
            <logger name="io.netty" level="INFO" additivity="false">
                <appender-ref ref="stdout" />
            </logger>
            <root level="DEBUG">
                <appender-ref ref="stdout" />
            </root>
        </then>
        <!-- NORMAL MODE -->
        <else>
            <logger name="io.netty" level="WARN" additivity="false">
                <appender-ref ref="file" />
            </logger>
            <root level="INFO">
                <appender-ref ref="file" />
            </root>
        </else>
    </if>
</configuration>