<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appenders -->
    <if condition='property("server_mode").equalsIgnoreCase("true")'>
        <!-- DEBUG MODE -->
        <then>
            <appender name="file" class="ch.qos.logback.core.FileAppender">
                <file>infectd-server.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level
                        %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <!-- NORMAL MODE -->
        <else>
            <appender name="file" class="ch.qos.logback.core.FileAppender">
                <file>infectd-client.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level
                        %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <!-- Loggers -->
    <if condition='property("debug_mode").equalsIgnoreCase("true")'>
        <!-- DEBUG MODE -->
        <then>
            <logger name="io.netty" level="INFO" additivity="false">
                <appender-ref ref="stdout" />
            </logger>
            <root level="DEBUG">
                <appender-ref ref="stdout" />
            </root>
        </then>
        <!-- NORMAL MODE -->
        <else>
            <logger name="io.netty" level="WARN" additivity="false">
                <appender-ref ref="file" />
            </logger>
            <root level="INFO">
                <appender-ref ref="file" />
            </root>
        </else>
    </if>
</configuration>